
#clockContainer,
#hour,
#minute,
#second,
#star {

  position: absolute;
   display: block;
  margin-left: 13vw;
  margin-right: 13vw;
  width: 50%;
  height: 70vw;
  width: 70vw;


}

#clockContainer{
background: url(https://raw.githubusercontent.com/SarahBass/SarahBass.github.io/main/images/Tic.png);
	/*setting our background image*/
	background-size: contain;
    background-repeat: no-repeat;
}


#hour {
  background: url(https://raw.githubusercontent.com/SarahBass/SarahBass.github.io/main/images/hour.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;

}

#minute {
  background: url(https://github.com/SarahBass/SarahBass.github.io/blob/main/images/minute.png?raw=true);
  background-size: contain;
  opacity: 0.8;
  background-repeat: no-repeat;

}

#second {
  background: url(https://github.com/SarahBass/SarahBass.github.io/blob/main/images/second.png?raw=true);
  background-size: contain;
  opacity: 0.8;
  background-repeat: no-repeat;

}

#star {
  background: url(https://github.com/SarahBass/SarahBass.github.io/blob/main/images/3star1.png?raw=true);
  background-size: contain;
  background-repeat: no-repeat;


}

